.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.875000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.270020;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.666000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.945000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.182000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._5{margin-left:-16.560654px;}
._3{margin-left:-3.544921px;}
._1{margin-left:-2.285183px;}
._0{width:1.125000px;}
._2{width:2.285183px;}
._4{width:3.544922px;}
._6{width:16.559876px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:52.000002px;}
.fs3{font-size:60.000000px;}
.fs2{font-size:72.000000px;}
.fs0{font-size:99.999996px;}
.y0{bottom:0.000000px;}
.y1d{bottom:89.297079px;}
.y24{bottom:121.444049px;}
.y1c{bottom:121.444169px;}
.yf{bottom:147.039749px;}
.ye{bottom:179.186849px;}
.y1b{bottom:185.738359px;}
.y23{bottom:185.738479px;}
.y1a{bottom:217.885459px;}
.y2b{bottom:220.656510px;}
.yd{bottom:243.481039px;}
.yc{bottom:275.628159px;}
.y22{bottom:280.325889px;}
.y19{bottom:282.179649px;}
.y21{bottom:282.179889px;}
.y18{bottom:314.326739px;}
.y20{bottom:314.326859px;}
.y2a{bottom:346.473839px;}
.yb{bottom:376.241220px;}
.y17{bottom:378.620929px;}
.y1f{bottom:378.621049px;}
.y16{bottom:410.768029px;}
.y1e{bottom:410.768149px;}
.y29{bottom:442.915239px;}
.ya{bottom:451.070686px;}
.y9{bottom:451.180550px;}
.y28{bottom:475.062209px;}
.y15{bottom:475.062339px;}
.y8{bottom:477.435070px;}
.y7{bottom:502.415105px;}
.y6{bottom:503.689520px;}
.y14{bottom:507.209429px;}
.y5{bottom:528.669625px;}
.y4{bottom:529.944040px;}
.y27{bottom:539.356649px;}
.y13{bottom:571.503619px;}
.y3{bottom:584.526959px;}
.y12{bottom:603.650719px;}
.y26{bottom:635.797810px;}
.y2{bottom:661.584256px;}
.y11{bottom:667.944904px;}
.y25{bottom:667.945026px;}
.y1{bottom:692.350001px;}
.y10{bottom:700.091999px;}
.h2{height:48.851564px;}
.h5{height:53.280000px;}
.h4{height:56.367188px;}
.h1{height:66.599997px;}
.h6{height:67.032000px;}
.h3{height:67.640625px;}
.h0{height:792.000000px;}
.w0{width:612.000000px;}
.x0{left:0.000000px;}
.x4{left:72.000000px;}
.xb{left:75.635994px;}
.xa{left:144.000000px;}
.x7{left:146.538574px;}
.xc{left:231.641785px;}
.xd{left:233.747749px;}
.x1{left:244.509728px;}
.x6{left:251.611820px;}
.x2{left:266.372633px;}
.x9{left:274.500090px;}
.x3{left:287.683597px;}
.x5{left:369.136232px;}
.x8{left:465.134674px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._5{margin-left:-22.080871pt;}
._3{margin-left:-4.726561pt;}
._1{margin-left:-3.046910pt;}
._0{width:1.500000pt;}
._2{width:3.046910pt;}
._4{width:4.726563pt;}
._6{width:22.079834pt;}
.fs1{font-size:69.333336pt;}
.fs3{font-size:80.000000pt;}
.fs2{font-size:96.000000pt;}
.fs0{font-size:133.333328pt;}
.y0{bottom:0.000000pt;}
.y1d{bottom:119.062772pt;}
.y24{bottom:161.925399pt;}
.y1c{bottom:161.925559pt;}
.yf{bottom:196.052999pt;}
.ye{bottom:238.915799pt;}
.y1b{bottom:247.651146pt;}
.y23{bottom:247.651306pt;}
.y1a{bottom:290.513946pt;}
.y2b{bottom:294.208680pt;}
.yd{bottom:324.641386pt;}
.yc{bottom:367.504212pt;}
.y22{bottom:373.767852pt;}
.y19{bottom:376.239532pt;}
.y21{bottom:376.239852pt;}
.y18{bottom:419.102319pt;}
.y20{bottom:419.102479pt;}
.y2a{bottom:461.965119pt;}
.yb{bottom:501.654960pt;}
.y17{bottom:504.827906pt;}
.y1f{bottom:504.828066pt;}
.y16{bottom:547.690706pt;}
.y1e{bottom:547.690866pt;}
.y29{bottom:590.553652pt;}
.ya{bottom:601.427582pt;}
.y9{bottom:601.574066pt;}
.y28{bottom:633.416279pt;}
.y15{bottom:633.416452pt;}
.y8{bottom:636.580093pt;}
.y7{bottom:669.886807pt;}
.y6{bottom:671.586026pt;}
.y14{bottom:676.279239pt;}
.y5{bottom:704.892834pt;}
.y4{bottom:706.592053pt;}
.y27{bottom:719.142199pt;}
.y13{bottom:762.004826pt;}
.y3{bottom:779.369279pt;}
.y12{bottom:804.867626pt;}
.y26{bottom:847.730414pt;}
.y2{bottom:882.112342pt;}
.y11{bottom:890.593206pt;}
.y25{bottom:890.593368pt;}
.y1{bottom:923.133335pt;}
.y10{bottom:933.455999pt;}
.h2{height:65.135419pt;}
.h5{height:71.040000pt;}
.h4{height:75.156250pt;}
.h1{height:88.799996pt;}
.h6{height:89.376000pt;}
.h3{height:90.187500pt;}
.h0{height:1056.000000pt;}
.w0{width:816.000000pt;}
.x0{left:0.000000pt;}
.x4{left:96.000000pt;}
.xb{left:100.847992pt;}
.xa{left:192.000000pt;}
.x7{left:195.384766pt;}
.xc{left:308.855713pt;}
.xd{left:311.663666pt;}
.x1{left:326.012970pt;}
.x6{left:335.482427pt;}
.x2{left:355.163510pt;}
.x9{left:366.000120pt;}
.x3{left:383.578130pt;}
.x5{left:492.181642pt;}
.x8{left:620.179565pt;}
}
